<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎加入</title>
</head>
<body>
<section style="background-color: rgb(50, 50, 50); box-sizing: border-box;   text-align: justify; font-size: 16px;">
    <section style="text-align: center; margin-top: 10px; margin-bottom: 10px; position: static; box-sizing: border-box;" class="_135editor">
        <section style="box-sizing:border-box;max-width: 100%; vertical-align: middle; display: inline-block; line-height: 0; width: 100%; height: auto;">
            <img class="raw-image" style="box-sizing:border-box;vertical-align: middle; width: 100%;" src="https://img.xiumi.us/xmi/ua/1vbku/i/d1a34a5d45fc0dfd010633f6b9c52e6e-sz_933758.png" data-ratio="0.42583333333333334" data-w="1200"/>
        </section>
    </section>
    <section style="position: static; box-sizing: border-box;" class="_135editor">
        <section style="display: flex; flex-flow: row nowrap; margin: 17px 0%; position: static; box-sizing: border-box;">
            <section style="box-sizing:border-box;display: inline-block; vertical-align: top; width: auto; flex: 0 0 auto; align-self: stretch; min-width: 10%; max-width: 100%; height: auto; background-color: rgb(255, 129, 36);">
                <section style="color: rgb(255, 255, 255); line-height: 2.5; letter-spacing: 2px; padding: 0px 20px; box-sizing: border-box;">
                    <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
                        <strong style="box-sizing: border-box;">ADSKN</strong>
                    </p>
                </section>
            </section>
            <section style="box-sizing:border-box;display: inline-block; vertical-align: top; width: auto; background-color: rgb(255, 202, 0); align-self: stretch; flex: 100 100 0%; height: auto; border-width: 0px;  border-style: none; border-color: rgb(62, 62, 62); overflow: hidden; margin: 7px 0px -7px;">
                <section style="position: static; box-sizing: border-box;">
                    <section style="display: flex; flex-flow: row nowrap; position: static; box-sizing: border-box;">
                        <section style="box-sizing:border-box;display: inline-block; vertical-align: top; width: auto; flex: 100 100 0%; align-self: flex-start; height: auto;">
                            <section style="text-align: center; font-size: 12px; color: rgb(255, 255, 255); letter-spacing: 8px; line-height: 3; box-sizing: border-box;">
                                <p style="margin: 0px; padding: 0px; box-sizing: border-box;">
                                    邮件确认
                                </p>
                            </section>
                        </section>
                        <section style="box-sizing:border-box;display: inline-block; vertical-align: top; width: auto; min-width: 10%; max-width: 100%; flex: 0 0 auto; height: auto; align-self: flex-start;">
                            <section style="text-align: right; justify-content: flex-end; margin: 0px 0% -40px; position: static; box-sizing: border-box;">
                                <section class="group-empty" style="box-sizing:border-box;display: inline-block; width: 70px; height: 55px; vertical-align: top; overflow: hidden; border-left: 0px none rgb(62, 62, 62); border-bottom-left-radius: 100%; background-color: rgb(255, 129, 36);">
                                    <section>
                                        <svg viewbox="0 0 1 1" style="box-sizing:border-box;float:left;line-height:0;width:0;vertical-align:top;"></svg>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section style="box-sizing: border-box;" class="_135editor">
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <span style="color: #FFFFFF; box-sizing: border-box;">这封邮件是由ADSKN平台发送的。</span><br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <span style="color: #FFFFFF; box-sizing: border-box;"><br style="box-sizing: border-box;"/></span>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <span style="color: #FFFFFF; box-sizing: border-box;">您收到这封邮件，是由于您在ADSKN短链接收益平台注册了账号并使用了这个邮箱。如果您没有访问过ADSKN平台，请忽略这封邮件。</span>
        </p>
    </section>
    <section style="margin: 10px 0% 0px; text-align: left; font-size: 32px; position: static; box-sizing: border-box;" class="_135editor">
        <section style="display: inline-block; vertical-align: middle; box-sizing: border-box;">
            <section style="box-sizing:border-box;width: 0px;">
                <section style="border-bottom: 0.65em solid rgb(255, 202, 0); border-left: 1em solid transparent !important; border-right: 1em solid transparent !important; box-sizing: border-box;">
                    <section>
                        <svg viewbox="0 0 1 1" style="box-sizing:border-box;float:left;line-height:0;width:0;vertical-align:top;"></svg>
                    </section>
                </section>
            </section>
            <section style="box-sizing:border-box;width: 2em; line-height: 1em; height: 1em; background-color: rgb(255, 202, 0); text-align: center; color: rgb(255, 255, 255);">
                <p style="margin: 0px; padding: 0px; box-sizing: border-box;">
                    <br style="box-sizing: border-box;"/>
                </p>
            </section>
            <section style="box-sizing:border-box;width: 0px;">
                <section style="border-top: 0.65em solid rgb(255, 202, 0); border-left: 1em solid transparent !important; border-right: 1em solid transparent !important; box-sizing: border-box;">
                    <section>
                        <svg viewbox="0 0 1 1" style="box-sizing:border-box;float:left;line-height:0;width:0;vertical-align:top;"></svg>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section style="text-align: right; margin: -40px 0% 10px; position: static; box-sizing: border-box;" class="_135editor">
        <section style="box-sizing:border-box;display: inline-block; width: 95%; vertical-align: top; background-color: rgb(62, 62, 62); border-style: solid; border-width: 3px;  border-color: rgb(255, 255, 255); padding: 5px 10px;">
            <section style="text-align: left; font-size: 18px; color: rgb(255, 255, 255); box-sizing: border-box;">
                <p style="margin: 0px; padding: 0px; box-sizing: border-box;">
                    新用户注册说明
                </p>
            </section>
        </section>
    </section>
    <section style="color: rgb(255, 255, 255); box-sizing: border-box;" class="_135editor">
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            如果您是ADSKN短链接收益平台的新用户，或者在修改您的邮箱时使用了本地址。我们需要验证您邮箱地址的有效性以避免垃圾邮件或地址滥用。
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            您只需要点击下面的链接即可进行用户注册，链接有效期为3天。过期可以重新请求发送一封新的邮件验证：
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <a href="https://www.adskn.com/login/mail.html?mod=${mod(reg/changeMail}&etoken=${etoken}&email=${email}" _src="https://www.adskn.com/login/mail.html?mod=${mod(reg/changeMail}&etoken=${etoken}&email=${email}" style="box-sizing: border-box;">https://www.adskn.com/login/mail.html?mod=${mod(reg/changeMail)}&amp;etoken=${etoken}&amp;email=${email}</a>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            感谢您的访问，祝您使用愉快
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            此致
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            ADSKN短链接收益平台管理团队
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <a href="https://www.adskn.com/" _src="https://www.adskn.com/" style="box-sizing: border-box;">https://www.adskn.com/</a>
        </p>
        <p style=" margin: 0px; padding: 0px; box-sizing: border-box;">
            <br style="box-sizing: border-box;"/>
        </p>
    </section>
</section>
</body>
</html>